body {
    background-color: #222222;
    margin: 0;
    text-align: center;
    color: #FFFFFF;
    user-select: none;
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    color: black;
  }

img {
    cursor: pointer;
}

td, th {
    text-align: center;
}

tr {
    border: none;
}

.icon {
    float: right;
    border: 5px solid white;
    border-radius: 50px;
}
.icon:hover {
    background-color: #030303;
    border-color: #818181;
}
.icon.on {
    background-color: #666666;
}
.darkicon {
    float: right;
    background-color: #818181;
    border: 5px solid #030303;
    border-radius: 50px;
}
.darkicon:hover {
    background-color: white;
    border-color: #818181;
}
.darkicon.on {
    background-color: #222222;
}

.logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.del {
    background-color: #D9321F;
}

.del:hover {
    background-color: #A32517;
    border-color: #D1928B;
}

.light {
    display: block;
    text-align: left;
    width: 90%;
    margin: auto;
}

iframe {
    left: 0;
    bottom: 0;
    position: absolute;
    height: calc(100% - 75px);
    width: 100%;
    border: none
}

input, select, textarea{
    color: #FFFFFF;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5)
  }

.settings {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: width 1s;
}

@media only screen and (min-width: 534px) { 			
    .settings {
        width: 80%;
    }
}

@media only screen and (min-width: 950px) { 			
    .settings {
        width: 50%;
    }
} 